<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="clientId" value="65chfvipw8ae8ih3jad6jm4c1o02ax" />
        <add key="rewardName" value="TTS" />
		<add key="speakersCommand" value="!speakers" />
		<add key="speakersCommandTimeout" value="60" />
    </appSettings>
</configuration>